body { 
    background: url(../Images/Capture.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
  }

  #container {

    display: flex;
    flex-direction: column;
   /* min-height: 100vh;*/
  }
  

h1 {
    /* font-family: 'Rye', cursive;*/
    font-family: 'Limelight', cursive;
    /*font-family: 'Bungee Shade', cursive;*/
    position: relative;
    text-transform: uppercase;
    font-size: 120px;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 01, 01, 0.1);
}


@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }

}

.enter {
  font-family: 'Limelight', cursive;
  font-size: 50px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: red;
  margin: auto 0;
position: relative;
background: transparent;
border-color: transparent;
}

.image{
position: absolute;
top:630px;

}

#footer {
  background-color: black;
  color: goldenrod;
  padding-top: 10px;
  margin-top: auto;
  
}

@media screen and (max-width: 640px){
  

  body {
    background: url(../Images/media-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;

  }

  h1 {
    display: none;
  }

  .enter {
    margin: 20px;
  }

}
